header{
    background-image: url("https://image.freepik.com/vector-gratis/flecha-luz-azul-sobre-fondo-negro-hexagono-malla_33869-669.jpg");

}

#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
  }
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  #mainNav .navbar-brand {
    color: #000000;
    font-weight: 700;
    padding: 0.9rem 0;
  }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
    font-size: 20px;
    text-decoration: underline;

  }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: 0.5rem 0;
      color: #fff;
    }
    #mainNav .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: #fff;
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;
      text-decoration: underline;

    }
    #mainNav .nav-link:active {
      color: #fff;
    }
    #mainNav.navbar-shrink {
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #000000;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #000000;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #64a19d;
      font-size: 20px;
      text-decoration: underline;

    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  }

  @media print {
    *,
  *::before,
  *::after {
      text-shadow: none !important;
      box-shadow: none !important;
    }
  
    a:not(.btn) {
      text-decoration: underline;
    }
   
  
    @page {
      size: a3;
    }
    body {
      min-width: 992px !important;
    }
  
    .container {
      min-width: 992px !important;
    }
  
    .navbar {
      display: none;
    }
  
    .badge {
      border: 1px solid #000000;
    }
  
    
  }

  /*
  Zoom  a imagen
  */

  img.zoom {
    width: 350px;
    height: 200px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}
@media (max-width: 600px) {
    .responsive02{
        width: 100px;
    }
}
